
@media screen and (min-width: 750px) {
  body{
    display: flex;
    flex-direction: row;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    color: #afb6c2;
    font-family: Roboto;
    margin: 0px;
    /* padding: 4vw; */
  }
  .fundo-quadrado{
    display: flex;
    background-color:#24221F;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    margin-top: 11vw;
    height: 55vh;
    margin-right: 6VW;
    padding-top: 5vw;
    margin-left: -9vw;
  }
  .logo{
    margin-top: 3vw;
    margin-left: 3vw;
    width: 10vw;
  }

  .container-login{
    display: flex;
    margin-left: -3vw;
    margin-top: -2vw;
    flex-direction: row;
    gap: 0.5vw;
   }

  #txt1{
    
    font-size:1.5rem;
    font-family: poppins;
  }
  
  .slogan{
    margin-top: -2.5vw;
    margin-left: 1.5vw;
    margin-bottom: 1vw;
    
  }

  .imagem{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 50vw;
    height: 97.5vh;
    
  }
  .img{
    width: 100vw;
    height: 100vh;
  }
  .container-email{  
    position: relative;
  }

  #email1{
    font-family: poppins;
    margin-left: 5vw;
  }


  .input-icon{
    height: auto;
    width: 20px;
    position: absolute;
    top: 55%;
    left: 90px;

  }
  #email{
    display: flex;
    border-radius: 0.5vw;
    font-family: Roboto;
    padding: 1vw;
    padding-left: 3vw;
    margin-left: 5vw;
    width: 20vw;
    margin-bottom: 1vw
}
.container-password{
  position: relative;
  
}
#senha1{  
  font-family: poppins;
  margin-left: 5vw;
}

#senha{
  display: flex;
  border-radius: 0.5vw;
  font-family: Roboto;
  padding: 1vw;
  padding-left: 3vw;
  margin-left: 5vw;
  width: 20vw;
  margin-top: 1vw;
}

}