
@media screen and (min-width: 750px) {
  html{
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    color: #afb6c2;
    font-family: Roboto;
    padding: 4vw;
  }
  .fundo-quadrado{
    display: flex;
    background-color:#24221F;
    flex-direction: column;
    align-items: center;
    max-width: 36%;
    margin-top: 8vw;
    height: 50vh;
    padding-top: 3vw;
    margin-left: 10vw;

  }
  .container-login{
    display: flex;
    margin-left: -5vw;
    flex-direction: row;
    gap: 0.5vw;
   }

  #txt1{
    
    font-size:1.5rem;
    font-family: poppins;
  }
  
  .slogan{
    margin-top: -2vw;
    margin-left: -4.5vw;
    
  }

  .imagem{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -50vw;  
    margin-right: -4.5vw;
   
  }
  
  
}